<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @person.name %>
</p>

<p>
  <b>Article:</b><br>
  <%= @person.bio %>
</p>

<p>
  <b>Deadline:</b>
  <%= @person.birthday %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
